table, tr, td { 
  border: 1px solid;
  border-spacing: 0px;
  
  
}

table {
  width: 650px;
  
  
  
}

.company {
  font-weight: bold;
  padding-left: 5px;
  text-align: center;
  
}

.title {
  font-weight: normal;
  color: #41AFE1;
}


.introduction{
  text-align: center;
  width: 650px;
  font-size: 23px;
  vertical-align: middle;  
}

.duration{
  padding-left: 7px;
  text-align: center
}

.studylength{
  text-align: center
  
}

a:-webkit-any-link {
  Color: #4169E1;
  text-decoration: solid;
 
}

.leftcolumnheader{
  font-weight: bold;
  text-align: center;
  vertical-align: top;
  width: 200px;
  
  
}

.leftcolumnlist{
  font-weight: normal;
  text-align: center;
  
  
}

.gamesworkedon{
  font-weight: normal;
  text-align: left;
  vertical-align: bottom;

}

.characteristics{
  padding-top: 13px;
}
 
.companyinfo{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  
}

.phoneicon{
  display: flex;
  align-items: bottom;
  position: relative;
}

.headerstyle{
  text-align: center;
  vertical-align: top;
}
.image-container {
  display: inline-flex;
  overflow: hidden;
  border-radius: 50%;
}

.image-container img {
  display: block;
  width: 150px;
  height: 170px;
  object-fit: cover; 
}

  
  
  
