table, tr, td { 
  border: 1px solid;
  
}

table {
  width: 600px;
}

.company {
  font-weight: bold;
  
}

.title {
  font-weight: normal;
  color: #41AFE1;
}


.introduction{
  text-align: center;
  background-color: #4169E1;
  color: white;
  width: 600px
    
  
   
}


