table, tr, td { 
  border: 1px solid;
  border-spacing: 0px;
  
  
}

table {
  width: 600px;
}

.company {
  font-weight: bold;
  padding-left: 5px;
  
}

.title {
  font-weight: normal;
  color: #41AFE1;
}


.introduction{
  text-align: center;
  background-color: #4169E1;
}

.duration{
  padding-left: 7px;
}

.studylength{
  padding-left: 6px
}
